body{
  margin: 0;
  padding: 0;
  background: #242424;
}


.main-login{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.left-login{
  margin-right: 80px;
}

.right-login{
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 40px 5px 40px 40px;
  margin: 0px;
}

.titulo{
  display: flex;
  align-self: start;
  text-transform:uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  padding: 0px;
  margin: 0px 0px 15px 0px;
  font-size: 18px;
}

.number{
  width: 282px;
  margin: 0px 0px 25px 0px;
  padding: 5px;
  border: 1px solid;
  border-color: #000000;
  font-size: 17px;
}

.next{
  width: 294px;
  margin: 0px 0px 15px 0px;
  padding: 5px;
  color: #ffffff;
  background: #242424;
  border: none;
  font-size: 17px;
  cursor: pointer;
}

.p{
  align-self: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 12px;
}

.sign{
  background: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-self: center;
  width: 140px;
  margin: 0px 0px 25px 0px;
  padding: 5px;
  border: 1px solid;
  border-color: #000000;
  font-size: 17px;
  margin-bottom: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.desc{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   text-align: center;
  margin-bottom: 30px;
  font-size: 12px;
}

.final{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
 font-size: 15px;
}